
#add-cloud-button{
    position:absolute;
    left:5%;
    top:5%;
    color:white
}

#remove-cloud-button{
    position:absolute;
    left:5%;
    bottom:5%;
    color:white
}

#logout-button{
    position:absolute;
    left:90%;
    color:white
}

.metadata{
    position: relative;
    vertical-align: middle;
    color: grey;
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
}

.metadataRefreshButton{
    color: white;
    font-family: arial,helvetica,sans-serif;
}

.leftColumn{
    float: left;

}

.centerColumn{
    float: left;
}
.rightColumn{
    float: right;
}